/*Tela Pequena*/
@media screen and (max-width: 500px){
    #logo{
        margin: 15px 0px 0px 240px;
        font-size: 25px;
    }
    #menu{
        position: absolute;
        left: -40px;
    }
    #menu ul li a{
        font-size: 19px;
    }
    #caixa{
        font-size: 19px;
        width: 250px;
        height: 470px;
        position: relative;
        bottom: 15px;
    }
}
@media screen and (min-width: 540px) and (max-width: 550px){
    #logo{
        margin: -55px 0px 0px 440px;
    }
}