body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    background: white;
}
/*configurando a aria de navegação*/
header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    background: black;
}
#menu ul li{
    display: inline-block;
    margin: 5px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#menu ul li a:hover{
    color: darkturquoise;
}
#logo{
    margin-top: -50px;
    color: darkturquoise;
    text-align: center;
    font-style: italic;
}
/*conteudo do site*/
#caixa{
    animation: animeformulario 1s ease-in;
    text-align: center;
    border-radius: 20px ;
    margin: 0 auto;
    width: 300px;
    height: 500px;
    background: linear-gradient(45deg, blue,red);
}
h3{
    font-size: 15px;
    margin-top: 70px;
}
@keyframes animeformulario{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(0.8);
        transition: 1s;
    }
}
#caixa__login{  
    margin-top: 60px;
}
#caixa__login h1{
    margin-top: 100px;
    font-size: 27px;
}
/*configuração dos botões e dos inputes*/
button{
    font-size: 15px;
    cursor: pointer;
    background: #f60;
    font-weight: 600;
    box-shadow: 1px 1px 0 2px #7c2a01;
    border: 0;
    margin-top: 30px;
    margin-left: 60px;
    width: 120px;
    height: 30px;
    transition: box-shadow 0.2s ease,transform 0.2s ease;
    border-radius: 10px;
}
button:active{
    box-shadow: 0 0 0 0 #7c2a01,inset 3px 3px 3px #7c2a01;
    transform: translate(4px,4px);
}
input{
    margin-top: 10px;
    border-radius: 10px;
}
input,button:focus{
    outline: none;
}
/*ícone*/
img{
    position: relative;
    top: 50px;
    right: 90px;
}